openapi: 3.0.3
info:
  description: Amazon MemoryDB for Redis is a durable, in-memory database service that delivers ultra-fast performance compatible with Redis and Memcached.
  title: Amazon MemoryDB ACLs ReservedNodes API
  version: '2021-01-01'
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- description: Amazon MemoryDB API endpoint (region-specific)
  url: https://memory-db.us-east-1.amazonaws.com
security:
- awsSigV4: []
tags:
- name: ReservedNodes
paths:
  /reservednodes:
    get:
      description: Returns information about reserved nodes for this account.
      operationId: DescribeReservedNodes
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                DescribeReservedNodes200Example:
                  summary: Default DescribeReservedNodes 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB DescribeReservedNodes
      tags:
      - ReservedNodes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Allows you to purchase a reserved node offering.
      operationId: PurchaseReservedNodesOffering
      requestBody:
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                PurchaseReservedNodesOffering200Example:
                  summary: Default PurchaseReservedNodesOffering 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB PurchaseReservedNodesOffering
      tags:
      - ReservedNodes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reservednodes/describereservednodesofferings:
    get:
      description: Lists available reserved node offerings.
      operationId: DescribeReservedNodesOfferings
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                DescribeReservedNodesOfferings200Example:
                  summary: Default DescribeReservedNodesOfferings 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB DescribeReservedNodesOfferings
      tags:
      - ReservedNodes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    awsSigV4:
      description: AWS Signature Version 4
      in: header
      name: Authorization
      type: apiKey
