openapi: 3.0.3
info:
  description: Amazon MemoryDB for Redis is a durable, in-memory database service that delivers ultra-fast performance compatible with Redis and Memcached.
  title: Amazon MemoryDB ACLs Tags API
  version: '2021-01-01'
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- description: Amazon MemoryDB API endpoint (region-specific)
  url: https://memory-db.us-east-1.amazonaws.com
security:
- awsSigV4: []
tags:
- name: Tags
paths:
  /tags:
    delete:
      description: Use this operation to remove tags on a resource.
      operationId: UntagResource
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                UntagResource200Example:
                  summary: Default UntagResource 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB UntagResource
      tags:
      - Tags
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Lists all tags currently on a named resource.
      operationId: ListTags
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                ListTags200Example:
                  summary: Default ListTags 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB ListTags
      tags:
      - Tags
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: A tag is a key-value pair where the key and value are case-sensitive.
      operationId: TagResource
      requestBody:
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
              examples:
                TagResource200Example:
                  summary: Default TagResource 200 response
                  x-microcks-default: true
                  value:
                    result: success
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB TagResource
      tags:
      - Tags
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    awsSigV4:
      description: AWS Signature Version 4
      in: header
      name: Authorization
      type: apiKey
