openapi: 3.0.3
info:
  description: Amazon MemoryDB for Redis is a durable, in-memory database service that delivers ultra-fast performance compatible with Redis and Memcached.
  title: Amazon MemoryDB ACLs Clusters API
  version: '2021-01-01'
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- description: Amazon MemoryDB API endpoint (region-specific)
  url: https://memory-db.us-east-1.amazonaws.com
security:
- awsSigV4: []
tags:
- name: Clusters
paths:
  /clusters:
    delete:
      description: Deletes a cluster.
      operationId: DeleteCluster
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeClustersResponse'
              examples:
                DeleteCluster200Example:
                  summary: Default DeleteCluster 200 response
                  x-microcks-default: true
                  value:
                    Clusters: []
                    NextToken: example-value
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB DeleteCluster
      tags:
      - Clusters
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Returns information about all provisioned clusters.
      operationId: DescribeClusters
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeClustersResponse'
              examples:
                DescribeClusters200Example:
                  summary: Default DescribeClusters 200 response
                  x-microcks-default: true
                  value:
                    Clusters: []
                    NextToken: example-value
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB DescribeClusters
      tags:
      - Clusters
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Creates a cluster.
      operationId: CreateCluster
      requestBody:
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeClustersResponse'
              examples:
                CreateCluster200Example:
                  summary: Default CreateCluster 200 response
                  x-microcks-default: true
                  value:
                    Clusters: []
                    NextToken: example-value
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB CreateCluster
      tags:
      - Clusters
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: Modifies the settings for a cluster.
      operationId: UpdateCluster
      requestBody:
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeClustersResponse'
              examples:
                UpdateCluster200Example:
                  summary: Default UpdateCluster 200 response
                  x-microcks-default: true
                  value:
                    Clusters: []
                    NextToken: example-value
          description: Success
        '400':
          description: Bad request
        '500':
          description: Internal server error
      summary: Amazon MemoryDB UpdateCluster
      tags:
      - Clusters
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DescribeClustersResponse:
      properties:
        Clusters:
          description: A list of clusters.
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
        NextToken:
          description: An optional argument to pass in case the total number of records exceeds the value of MaxResults.
          type: string
      type: object
    Cluster:
      description: An Amazon MemoryDB cluster.
      properties:
        ARN:
          description: The Amazon Resource Name (ARN) of the cluster.
          type: string
        AvailabilityMode:
          description: Indicates if the cluster has a Multi-AZ configuration.
          enum:
          - SingleAZ
          - MultiAZ
          type: string
        Description:
          description: A description of the cluster.
          type: string
        EngineVersion:
          description: The Redis engine version the cluster is running.
          type: string
        Name:
          description: The user-supplied name of the cluster.
          type: string
        NodeType:
          description: The cluster's node type.
          type: string
        NumberOfShards:
          description: The number of shards in the cluster.
          type: integer
        Status:
          description: The status of the cluster.
          type: string
        TLSEnabled:
          description: A flag to indicate if In-transit encryption is enabled.
          type: boolean
      type: object
  securitySchemes:
    awsSigV4:
      description: AWS Signature Version 4
      in: header
      name: Authorization
      type: apiKey
